<div class="ask-container">
    <div class="question_form_intro">Do you have a question about a photograph? <br/>Ask it here and get feedback from other photographers. <br/>Be sure to upload a photo with your question. </div>
    <div class="question_form">
    <%= form_tag({ :action => :create, :controller => :questions }, :multipart => true) do %>
      <div><%= text_field_tag :title, nil, placeholder: "Enter question", :class => "question_field" %></div>

      <div><%= file_field_tag :file, accept: 'image/png,image/gif,image/jpeg', :class => "choose_button" %>
</div>

      <div><%= text_area_tag :content, nil , rows: 4 , cols: 45, placeholder: 'Add additional description here.', :class => "question_field" %>
        <div><%= submit_tag("Submit Question") %></div>
      </div>
    <% end %>
    </div>

</div>

