<div class="section group">
  <div class="col span_2_of_4">

  <div class="single_question">
      <span class="single_title">
      <h2> <%= @question.title %> </h2>
      <h3> Asked by: <%= @question.user.username %></h3>
    </span>
  </div>
</div>

<div class="col span_2_of_4">
  <div class="answer-form-header">
        <h3>Answers</h3>
  </div>
</div>

</div>

<div class="section group">    
  <div class="col span_4_of_6">
    <span class="question-vote" id='voting-panel'>
    <%= render partial: 'shared/voting', locals: { votable: @question } %>
  </span>
  <div class="single_photo_upload">
    <p><img src="<%= @question.path || @question.file%>"></p>
  </div>
       
  <div class="description">
    <p><%= @question.content %></p>
  </div>

  <div class="comment_on_question">
   <% @question.comments.each do |comment| %>
     <%= render partial: 'comments/comment', locals: { comment: comment } %>
   <% end %>

   <p><%= render partial: 'comments/new', locals: { commentable: @question } %></p>
  </div>
</div>
  
  
<div class="col span_2_of_6">
  <div class="question_answers">
    <% @question.answers.each do |answer| %>
      <%= render partial: 'answers/show', locals: { answer: answer } %>
    <% end %>
  </div>
   <%= render "answers/new" %>
</div>
</div>
   
</div>
