<div class="first_line_all_answers"></div>
  <!-- <div class="answer_upload"> -->
  <div class="answer">
  	<table>
  		<tr>
  			<td class="answer-vote"></td>
        <td class="answer-text">
        	<img src="<%= answer.path || answer.file %>"></td>
      </tr>
      <tr>
	      <td class="answer-vote">
	      	<span id='voting-panel'>
	          <%= render partial: 'shared/voting', locals: { votable: answer } %>
	        </span>
	      </td>  	
	      <td>
  	       <%=answer.content %> <span class="answer-username">&ndash;<%= answer.user.username %></span>
        </td>
      <tr>
    	<tr>
    		<td class="answer-vote"></td>
    		<td class="answer-text comment-on-answer">
    			<% answer.comments.each do |comment| %>
    			  <%= render partial: 'comments/comment', locals: { comment: comment } %>
    			<% end %>
    			<%= render partial: 'comments/new', locals: { commentable: answer } %>
    		</td>
    	</tr>
    </table>
  <div>
</div>